@model IEnumerable<aplicacaoLoja.Models.Consulta.Pivot.ConsultaPivot>

@{
    ViewData["Title"] = "Pivot Vendas";
}

<h1>PivotVendas</h1>

<br />
<br />

<form asp-action="PivotVendas" method="get" class="row g-3">
    <div class="form-actions no-color row g-3">
        <div class="col-md-2">
            <select class="form-select" name="ano" id="ano">
                <option value="todos" selected>Ano...</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
            </select>
        </div>
        <div class="input-group-append col-md-5" id="button-addon4" >
            <input type="submit" value="Filtrar" class="btn btn-primary bg-warning text-dark border-0" />
        </div>
    </div>
</form>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes11)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mes12)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes9)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes11)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mes12)
            </td>
        </tr>
}
    </tbody>
</table>
