@model IEnumerable<aplicacaoLoja.Models.Cliente>

@{
    ViewData["Title"] = "Gerador de Clientes";
}

<h1>Gerador de Clientes</h1>
<br />
<div class="form-group">
    <a asp-controller="Clientes" asp-action="Index"><input type="submit" value="Voltar" class="btn btn-primary bg-danger border-0" /></a>
</div>

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cpf)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cpf)
            </td>
        </tr>
}
    </tbody>
</table>
