@model IEnumerable<aplicacaoLoja.Models.Produto>

@{
    ViewData["Title"] = "Gerador de Produtos";
}

<h1>Gerador de Produtos</h1>
<br />
<div class="form-group">
    <a asp-controller="Produtos" asp-action="Index"><input type="submit" value="Voltar" class="btn btn-primary bg-danger border-0" /></a>
</div>

<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtdeEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdeEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoria.descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fornecedor.nome)
            </td>
        </tr>
}
    </tbody>
</table>
